*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gold;
}

.header{
    text-align: center;
    background-color: coral;
}

.nav{
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.nav a{
    text-decoration: none;
    margin: 10px 20px 10px 20px;
    padding: 0px;
}

.nav a:hover{
    background-color: black;
}

.section{
    margin: 10px;
    text-align: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

.card img {
    max-width: 100%;
    border-radius: 4px;
}

  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
  }

  @media (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  }